## Folders
**/target/
**/.idea/
**/test/
**/testProject/
**/.vs
**/x64
**/.vscode
**/bin
**/build
**/Debug
**/.metadata
**/.settings
**/MC9S08GB60
**/Project_Headers
**/Project_Settings


## Files
**/ReferencedRSESystems.xml


##Extensions
**.exe
**.bk
**.iml
**.pdb
**.pdf
**.exe
**.obj
**.db
**.user
**.filters
**.log
**.temp
**.tmp
**.ninja_log
**.ninja
**.jpeg
**.png
**.jpg
**.zip
**.ppt
**.pptx
**.vcxproj
**.sln
**.cproject
**.cwGeneratedFileSetLog
**.project
**.apconfig

